<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">  
	<sitecore>  
		<pipelines>
			<renderField>
				<processor type="Sitecore.SharedSource.Sniper.RichTextSniperProcessor, Sitecore.SharedSource.Sniper"
				patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetFieldValue, Sitecore.Kernel']" />
			</renderField>
		</pipelines>
		<clientscripts>  
			<htmleditor>  
				<script src="/sitecore/shell/Controls/Rich Text Editor/SniperButton/SniperButton Commands.js" language="JavaScript"/>  
			</htmleditor>  
		</clientscripts>  
		<settings>
			<setting name="SniperLoggingLevel" value="verbose"/>
      <setting name="SniperAllowedAllTemplates" value="true"/>
      <setting name="SniperAllowedTemplates" value="Snippet|Snippet,Dictionary entry|Phrase,Sample Item|Text"/>
		</settings>
	</sitecore>  
</configuration>  